/ $('#DOModal .alert').remove();
- if @errors.present?
  -@errors.each do |msg|
    $('#DOModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");

- else
  $("#ShippingStatusModal").modal('hide')
  $.post("shippings/#{@import.id}/retainStatus")