= simple_form_for(movement, url: movements_update_path(id: movement.id), method: "post",html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
  .modal-content
    .modal-header
      = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
      %h1.modal-title Details

    .modal-body
      =f.input :transporter_name, as: :select, collection: Vendor.transporters.pluck(:name)
      =f.input :transporter_invoice_number
      =f.input :transporter_invoice_date
      =f.input :transporter_payment
      =f.input :clearing_agent, as: :select, collection: Vendor.clearing_agents.pluck(:name)
      =f.input :clearing_agent_invoice_number
      =f.input :clearing_agent_invoice_date
      =f.input :clearing_agent_payment

    .modal-footer
      = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
      = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."