%table.table{id: "movements_history_table", class: 'movements_table'}
  %thead
    %th W O Number
    %th Booking Number
    %th BL Number
    %th Customer Name
    %th Container Number
    %th Truck Number
    %th Vessel Targeted
    %th Port of Discharge
    %th Movement Type
    %th Shipping Seal
    %th Status
    %th Remarks
    %th Details

#updateModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog

:coffeescript
  @destination_ports = #{@destination_ports.to_json}
