%table.table{id: "movements_history_table", class: 'movements_table'}
  %thead
    %th W O Number
    %th Booking Number
    %th BL Number
    %th Customer Name
    %th Container Number
    %th Truck Number
    %th Transporter Name
    %th Transporter Invoice Number
    %th Transporter Invoice Date
    %th Transporter Payment
    %th Clearing Agent
    %th Clearing Agent Invoice Number
    %th Clearing Agent Invoice Date
    %th Clearing Agent Payment
    %th Vessel Targeted
    %th Port of Discharge
    %th Movement Type
    %th Shipping Seal
    %th Remarks

:coffeescript
  @transporters = #{@transporters.to_json}
  @destination_ports = #{@destination_ports.to_json}