- if request.get?
  $("[data-is='modelName']").val(window.location.pathname.replace('s/new', '').replace(/\//, ''))
  $("[data-is='basicModal']").modal('show')
- else
  $('.flash_messages').html('#{escape_javascript(render :partial => 'flash_message')}');
  $('#basicModal').modal('hide');
  $($('#movement_#{@export_item.id}').attr('data-row')).remove()
