!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Sir,
    %p
      We would like to thank you for your continued support. Please find attached Invoice.
    %p
      Incase of any discrepancy with the Invoice please reach out to our team to have the same reviewed.
    %p
      You can reach the following People
    %br
    %br
    %p
      Mr.Kaushik Somanathan : +256 755782324
    %p
      Ms.Margaret : 254 722 241250
    %p
      %br
      %br
      Warm Regards
      %br
      **********************************************************************
      %br

      The information in this message is confidential and may be legally privileged. It is intended solely for the addressee.

      %br
      %br
      Access to this message by anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, or distribution of the message, or any action or omission taken by you in reliance on it, is prohibited and may be unlawful. Please immediately contact the sender if you have received this message in error.

      %br
      %br
      Thank You.

      %br
      Reliable Freight Services Limited 

      %br
      %br
      **********************************************************************
