!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
      Please be informed that the container number : #{@import_item.container_number} of BL :  #{@import_item.import.bl_number} is dropped at customer.
    %p 
      We thank you for your continued support and value your business. Looking forward to serving you.
    %p
      Incase you have any issues please don’t hesitate to call us, or email us.
    %p
      %br
      %br
      Warm Regards
      %br
      Customer Service
      %br
