!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
      Please be informed that we have received your Original BL for BL number - #{@import.bl_number}
    %br
      We would like to inform you that the said documents have been received late and as per our understanding the vessel has already arrived. We would try our level best to ensure to load this cargo without any port storage but in the event,  we aren’t successful please be informed that we would bill storage to your account.
    %br
      We thank you for your continued support and value your business. Looking forward to serving you.
    %br
      Incase you have any issues please don’t hesitate to call us, or email us.
      %br
      %br
      Warm Regards
      %br
        Customer Service

