!!!
  %html
    %body
      %p
      %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %p
        Dear Sir,
      %p
        This is the late document mail sent because the order(BL Number - #{@import.bl_number}) has been created after ETA date(#{@import.estimate_arrival.to_date.try(:to_formatted_s)})
      %p
        %br
        %br
        Warm Regards
        %br
        Kaushik Somanathan
        %br
        +91 9324545489
        %br
        +256 755 782 324
        %br

        %br
        **********************************************************************
        %br

        The information in this message is confidential and may be legally privileged. It is intended solely for the addressee.

        %br
        %br
        Access to this message by anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, or distribution of the message, or any action or omission taken by you in reliance on it, is prohibited and may be unlawful. Please immediately contact the sender if you have received this message in error.

        %br
        %br
        Thank You.

        %br
        21 Nautica Private Limited

        %br
        %br
        **********************************************************************
