!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p Expense #{@type} report
    %p
      %br
      Thank You.

      %br
      21 Nautica Private Limited

      %br
      %br
      **********************************************************************