!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %h1
      Hello, Report for customer:  #{@user.name}
    %p
      Please check the following report.