!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,

    %p
      This mail for containers in which truck is not allotted yet.

    %p
      %br
      %br
      Thank you