!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,

    %p
      Please find attached electronic receipt for your payment. We thank you for the same and appreciate your business. Incase of any discrepancy please contact your customer service manager.

    %p
      %br
      %br
      Thank you