!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
      Here is your todays purchase order status.
    %br
      We thank you for your continued support and value your business. Looking forward to serving you.
    %br
      Incase you have any issues please don’t hesitate to call us, or email us.
      %br
      %br
      Warm Regards
      %br
        Customer Service

