!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
      Please be informed that the Rotation Number - #{@import.rotation_number} has been allocated for BL Number (#{@import.bl_number})
    %br We thank you for your continued support and value your business. Looking forward to serving you.
    %br Incase you have any issues please don't hesitate to call us, or email us at Declaration@reliblefreight.co.ke
    %p
      %br
      %br
      Warm Regards
      %br
      Team Declaration
