!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
      %br
        Some of you may have received fraudulent emails notifying of changes in our bank account details. Kindly note that our account details are as follows and please do make all deposits / transfers to 21 Nautica only into the following account.
      %br
      %br

      %br
      Beneficiary: 21 Nautica Logistics Limited
      %br
      USD Account Number: 8500000057
      %br
      Bank: EXIM Bank ( Uganda ) Limited
      %br
      Branch: Kampala , Uganda
      %br
      Swift Code: EXTNUGKA

      %br
      %br
    %p
      Please do contact Kaushik Somanathan on kaushik@21nautica.com or ops@21nautica.com in case you need any clarifications. We thank you for your co-operation.

      %br
      %br
    %p
      Team 21 Nautica
