%table.table.table-bordered{id: table_id}
  %thead
    %tr.info
      %th{"data-sort" => "customer_name:asc"} Customer Name
      %th{"data-sort" => "number"} Invoice Number
      %th{"data-sort" => "date"} Invoiced Date
      %th{"data-sort" => "bl_number"} BL Number
      %th{"data-sort" => "total_containers:asc:number"} Quantity
      %th{"data-sort" => "equipment_type"} Equipment Type
      %th{"data-sort" => "document_number"} Document Number
      %th{"data-sort" => "amount:asc:number"} Invoice Amount
      %th{"data-sort" => "status"} Status
      %th Actions
  %tbody
%script#invoices_search_result_template{:type => "text/html"}
  {{#record}}
  %tr{invoice_id: "{{ id }}", class: "{{ index_row_class }}"}
    %td.customer {{customer_name}}
    %td.number {{number}}
    %td.date {{date}}
    %td.bl_num {{bl_number}}
    %td.qty {{total_containers}}
    %td.type {{equipment_type}}
    %td.document_num {{document_number}} 
    %td.amount {{amount}} 
    %td.status {{status}}
    %td.row.col-md-4
      .col-sm-2
        %a.btn.btn-primary.btn-xs{ "data-toggle" => "tooltip", "title" =>"Update", :href => "/invoices/{{id}}/edit", "data-remote"=> "true","data-disable-with" => "loading...", "id" => "update_button", class: "{{update_button_status}}"}
          %span.glyphicon.glyphicon-edit
      .col-sm-2
        %a.btn.btn-primary.btn-xs{ "data-toggle" => "tooltip", "title" => "Send", :href => "/invoices/{{ id }}/send_invoice", "data-remote" => "true", "data-disable-with" => "sending...", class: "{{send_button_status }}" }
          %span.glyphicon.glyphicon-send
      .col-sm-2
        %a.btn.btn-primary.btn-xs{ "data-toggle" => "tooltip", "title" => "Download", :href => "/invoices/{{ id }}/download.pdf"}
          %span.glyphicon.glyphicon-download-alt
      .col-sm-6
        {{#is_additional_invoice}}
        %span.badge#additional_inv Refs: {{previous_invoice_number}}
        {{/is_additional_invoice}}
        {{^is_additional_invoice}}
        {{#is_legacy_bl}}
        %a.btn.btn-primary.btn-xs#additional_inv.disabled
          %span.glyphicon.glyphicon-plus
        {{/is_legacy_bl}}
        {{^is_legacy_bl}}
        %a.btn.btn-primary.btn-xs#additional_inv{:href => "/invoices/{{id}}/add-additional-invoice", "data-remote" => "true",  "data-toggle" => "tooltip", "title" => "Additional INV"}
          %span.glyphicon.glyphicon-plus
        {{/is_legacy_bl}}
        {{/is_additional_invoice}}
  {{/record}}

#invoiceUpdateModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg


:javascript
  data = #{@invoices.to_json};
