Payment should be made by Telegraphic Transfer into:
%br/
Beneficiary Name: 21 Nautica Zambia Limited
%br/
Account  Number: 0003205004640
%br/
Beneficiary Bank: First Capital Bank Zambia Limited, Lusaka, Zambia.
%br/
Swift Code: ICZAZMLU
%br/
Correspondent Bank: Deutsche Bank Trust Company Americas, P.O. Box 318, Church Street Station, New York 10008-0318
%br
Correspondent SWIFT Code: BKTRUS33
%br
Correspondent Account No: 04446085
