Payment should be made by A/C Payee cheque or draft in favour of “21 Nautica Zambia Limited” or by Telegraphic Transfer into:
%br/
Account  Name: 21 Nautica Zambia Limited
%br/
USD Account  Number: 1096816
%br/
Bank: Barclays Bank Zambia Plc
%br/
Branch Code: 001
%br/
Branch Name: Head Office
%br/
Swift Code: BARC-ZM-LX
%br/
Sort Code: 02-00-01
