%u Terms And Conditions

%ol
  %li This Invoice is Payable on Receipt and on Demand.
  %li Interest @36% per annual, and pro rate from day to day will be charged on all over due Accounts, Interest will be calculated from the date of invoice upto the date of payment.
  %li Any disagreement about this invoice must be lodged within 15 days from hereof otherwise this invoice will be considered as correct and accepted
  %li We shall have a general as well as particular lien on all goods and documents relating to goods in out possession for unpaid accounts.


