$('#invoiceUpdateModal .alert').remove();
- if @error.present?
  -@error.each do |msg|
    $('#invoiceUpdateModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");
- else
  $('#invoiceUpdateModal').modal('hide')
  invoice = [#{raw @invoice.to_json}]
  st.addData(invoice)