%h1#invoices_title Ready/New Invoices
%div.bg-info
  %input#invoices_searchbox{placeholder: "Search..."}
  = select_tag "invoices_per_page",options_for_select([10,25,50])
  = link_to "Sent Invoices", invoices_path(invoices_type: 'sent'), remote: true, class: 'btn btn-primary pull-right', id: 'load_invoices_button'
%br
%div#all_invoices
  = render 'index', table_id: 'invoices_index_table'