$('#invoiceUpdateModal > .modal-dialog').html("#{j(render 'update_modal', invoice: @invoice, url: "/invoices/#{@invoice.previous_invoice.id}/additional-invoice", method: "post")}")
$('#invoiceUpdateModal').modal('show');
