= link_to "Add Mechanic", new_mechanic_path, class: 'btn btn-primary pull-right'
%br
%br

%table#mechanic_table.table
  %thead
    %th Name
    %th Actions
    
  %tbody
    - @mechanics.each do |mechanic|
      %tr
        %td= mechanic.name
        %td= link_to 'Edit',edit_mechanic_path(mechanic), class: 'btn btn-primary' 
= will_paginate @mechanics