#ViewModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
        %h3.modal-title Order Details:
      .modal-body
        - @local_import.keys.each do |key|
          .row
            .col-md-5
              = key.to_s.humanize
            .col-md-6
              %b= @local_import[key] || '-'
          %hr
      .modal-footer
        = link_to 'Close', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
