%h4 
  %b New IDF
= render 'idf_form'

%div{data: {for: 'newCustomer'}}

:javascript
  window.validate_form = function(){
    $.validate({
      form: '#new_customer',
      scrollToTopOnError : false // Set this property to true if you have a long form
    });
    $.validate({
      form: '#new_local_import',
      scrollToTopOnError : false // Set this property to true if you have a long form
    });
  }
  validate_form();