.form-group
  .col-md-3
    = label_tag 'Customer Name', nil, class: 'control-label'
  .col-md-6
    = select_tag 'customers', options_for_select(customers.collect{|customer| [customer.name, customer.id]}), multiple: true, data: {for: 'multiselect'}, class: 'customer_select'
  .col-sm-2
    = link_to 'Add new customer', new_customer_path, remote: true, class: 'btn btn-info'
