-# @vendor.each do |key,value|
  - if value.uniq
    - item_for = value[0]
    $('.item_for').closest('tr').find('.item_number').append($('<option>', { value: "#{value[0]}", text: "#{item_for}" }, '</option>'))
