- @vendor_type.uniq.each do |type|  
  $('tr:last-child #item_number').append($('<option>', {value: "#{type}", text: "#{type}"}, '</option>'))
  //$('tr:last-child .item_number').select2('data', { id: "#{type}", text: "#{type}" })
