.authority_letter_draft
  %p
    The Country Manager,
    %br
    WEC Lines (Uganda) Ltd,
    %br
    Kampala,
    %br
    Uganda.
    %br
    Dear  Sir,
  %p
    RE: AUTHORISATION TO CLEAR shipment under BL #{@import.bl_number}  AT MOMBASA
  %br

  %p
    We hereby authorize Reliable Freight Services as agents for 21Nautica Logistics Tel. No +254 732407966
    as our appointed clearing Agent to pick the Delivery Order from WEC Lines and clear out our cargo from Mombasa.
    By virtue of this letter , I undertake to return the empty container(s) in good, sound,
    condition as released to us by Kenya Port Authority and that in case of damages, loss etc of same,
    to compensate you to the extent of the damage  or for its full value.

  %p
    We also hereby agree to indemnify you, your servants and agents and to hold all of you harmless in respect of any liability,
    loss or damage of whatsoever nature which you may sustain by reason of delivering the goods to our appointed clearing agent in accordance with our request.

  %p
    In the event of any proceedings being commenced against you or any of your servants or agents in connection with the delivery of the goods as aforesaid,
    we agree to provide you or them from time to time with sufficient funds to defend the same.

  %p
    Thanking you in advance.
  %br
  %p Yours