.authority_letter_draft
  %p
    #{Date.today.strftime('%d %b %Y')}
  %br
  %br
    Assistant Commissioner
    %br
    Kenya Revenue Authority
    %br
    Kilindini,
    %br
    Mombasa, Kenya
    %br
    %br
    
  %p 
    Dear sir / Madam,
    %br
    %br

  %p
    RE: CLEARING AND FORWARDING AGENT FOR BL – #{@import.bl_number}
  %br
  %br


  %p 
    We refer to above subject,
    %br
    %br
    RELIABLE FREIGHT SERVICES LTD is our appointed clearing and forwarding agent in Mombasa for subject shipment. 
    Kindly allow them to handle, clear and forward cargo under #{@import.bl_number} to final destination
    
  %br
  %br

  %p 
    Kindly accord them the necessary assistance
  %br
  %br
    	
  %p 
    Yours Faithfully,
  %br
  %br
  %br
    
    
  %p Director