%h4
  Edit Import Customer :

%table.table{id: 'edit_import_customer_table'}
  %thead
    %th.shrink-name Customer Name
    %th.bl-width BL Number
    %th Ref
    %th.imports-eta ETA
    %th Qty
    %th Action


#EditCustomer

:javascript
  $(document).ready(function() {
    if ( $.fn.dataTable.isDataTable( '#edit_import_customer_table' ) ) {
    }
    else {
      $('#edit_import_customer_table').DataTable( {
          initComplete : function() {
              var input = $('.dataTables_filter input').unbind(),
                  self = this.api(),
                  $searchButton = $('<button class="search-button">')
                             .text('search')
                             .click(function() {
                                self.search(input.val()).draw();
                             }),
                  $clearButton = $('<button class="clear-button">')
                             .text('clear')
                             .click(function() {
                                input.val('');
                                $searchButton.click(); 
                             })
              $('.dataTables_filter').append($searchButton, $clearButton);
          },
          "bJQueryUI": true,
          "processing": true,
          "serverSide": true,
          "paging": true,
          "pageLength": 25,
          "ajax": {
            url: "edit_import_customer",
            type: "POST",
            "data": function( result ) {
                  var newresult = {"searchValue": result.search.value, start: result.start, "length": result.length}
                  return newresult;
                },
            "dataSrc": function ( json ) {
                data = json.data
                data.forEach(function(data, index){
                  if(data.return_status)
                    data.after_delivery_status = data.return_status
                    data.info_link = "<a class='btn btn-primary btn-sm' data-remote='true' href='/imports/"+data.id+"/edit_customer_modal'>Edit Customer</a>"
                })
                return data
            }
          },
          "columns": [
              { "data": "customer_name", "bSortable": false},
              { "data": "bl_number", "bSortable": false },
              { "data": "work_order_number", "bSortable": false },
              { "data": "estimate_arrival", "bSortable": false },
              { "data": "quantity", "bSortable": false },
              { "data": "info_link", "bSortable": false }
          ]
      } );
    } 
  });