.well
  .row
    .col-md-6
      = label_tag 'Customer_name'
      = select_tag('customer_id', options_from_collection_for_select(Customer.order(:name), 'id', 'name'), prompt: "Select Customer")
  .row
    .col-md-12
      %div#received_details_table.scroll-table
      #payment_details_result
      %h4
        Invoiced:
        %span.invoiced 0
        USD
      %h4
        Received:
        %span.received 0
        USD    
