%table.table#truck_pl_table
  %thead
    %th Truck Number
    %th Income
    %th Expense
    %th Profit/Loss
  %tbody
    =render "truck_pl"
:javascript
  
  
  $(document).ready(function(){
    window.date =''
    initData()
    
  })
  function initData(){
    if (window.date =='')
    {
      var d = new Date()
      month = d.getMonth() + 1
      year = d.getFullYear()
      window.date = month+'-'+year
    }
    $('#truck_pl_table').DataTable( {
          initComplete : function() {
            $dateRange = "<label> SelectMonth: <input id='month' name='daterange' type='text' value='' placeholder='Select Date Range' class = 'daterange' data-provide='daterangepicker' data-date-autoclose='true'> </label>"
            $('.dataTables_filter').prepend($dateRange)
          },
          "bJQueryUI": true,
          "processing": true,
          "paging": false
    })
    setTimeout( function(){
      $("#month").datepicker({
        format: 'mm-yyyy',
        viewMode: 'months',
        minViewMode: 'months'
      })
      .on('changeDate', function(){
        fetchData();
      })
    },1000)
    $("#month").val(window.date)
  }
  function fetchData() {
    $("#loader_div").show()
    window.date =$("#month").val() 
    $.ajax({
      type: "GET", 
      url: "/truck_pls",
      data: {date: $("#month").val()},
      dataType:'script'
    })    
  }  