
%table.table{id: 'import_history_table'}
  %thead
    %th BL Number
    %th Container Number
    %th File Ref Number
    %th Truck Number
    %th Customer Name
    %th Equipment
    %th Delivery Date
    %th After Delivery Status
    %th Close Date
    %th

#historyInfoModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog

:javascript
  $(document).ready(function() {
    if ( $.fn.dataTable.isDataTable( '#import_history_table' ) ) {
    }
    else {
      $('#import_history_table').DataTable( {
          initComplete : function() {
              var input = $('.dataTables_filter input').unbind(),
                  self = this.api(),
                  $searchButton = $('<button class="search-button">')
                             .text('search')
                             .click(function() {
                                self.search(input.val()).draw();
                             }),
                  $clearButton = $('<button class="clear-button">')
                             .text('clear')
                             .click(function() {
                                input.val('');
                                $('#daterange').val('')
                                $searchButton.click(); 
                             })
                  $dateRange = "<label> DateRange: <input id='daterange' name='daterange' type='text' value='' placeholder='Select Date Range' class = 'daterange' data-provide='daterangepicker' rel='tooltip' title='Search by ETA'> </label>"
              $('.dataTables_filter').prepend($dateRange)    
              $('.dataTables_filter').append($searchButton, $clearButton);
          },
          "bJQueryUI": true,
          "processing": true,
          "serverSide": true,
          "paging": true,
          "pageLength": 25,
          "ajax": {
            url: "history",
            type: "POST",
            "data": function( result ) {
                  var newresult = {"searchValue": result.search.value, daterange: $('#daterange').val(), start: result.start, "length": result.length}
                  return newresult;
                },
            "dataSrc": function ( json ) {
                data = json.data
                data.forEach(function(data, index){
                  if(data.return_status)
                    data.after_delivery_status = data.return_status
                    data.info_link = "<a class='btn btn-link' data-remote='true' href='/import_items/"+data.id+"/history_info'>Info</a>"
                })
                return data
            }
          },
          "columns": [
              { "data": "bl_number", "bSortable": false},
              { "data": "container_number", "bSortable": false },
              { "data": "work_order_number", "bSortable": false },
              { "data": "rfs_truck_number", "bSortable": false },
              { "data": "customer_name", "bSortable": false },
              { "data": "equipment_type", "bSortable": false },
              { "data": "delivery_date", "bSortable": false },
              { "data": "after_delivery_status", "bSortable": false },
              { "data": "formatted_close_date", "bSortable": false },
              { "data": "info_link", "bSortable": false }
          ]
      } );
    }

    setTimeout( function(){
      $('#daterange').daterangepicker({
        locale: { 
          format: 'DD/MM/YYYY',
          cancelLabel: 'Clear'
        },
        cancelLabel: 'Clear',
        startDate: new Date(),
        endDate:  new Date(),
        autoUpdateInput: false,
      }, function(first_date, second_date){
        $("#daterange").val(first_date.format('DD/MM/YYYY')+" - "+ second_date.format('DD/MM/YYYY'));
      })}, 1000)  
  });


