%table.table{id: 'import_history_table'}
  %thead
    %th BL Number
    %th Container Number
    %th Work Order Number
    %th Truck Number
    %th Customer Name
    %th Clearing Agent Name
    %th Transporter Name
    %th Equipment
    %th Delivery Date
    %th After Delivery Status
    %th Context
    %th Close Date
