- formated_days = @import_item.last_loading_date.try(:strftime, '%Y-%m-%d')
- @import.import_items.each do |import_item|
  $("#import_items_table tr##{import_item.id} td.last_loading_date").text("#{formated_days}")