%h3
  Payments Made
  //%a.glyphicon.glyphicon-download-alt{href: "#"} Outstanding
.row
  = simple_form_for @paid , html: {class: 'form-horizontal'},url: url_for(action: 'create', :controller => 'paid'), method: 'post', defaults: {input_html: {class: 'form-control'}} do |f|
    .col-md-4
      = f.input :vendor_id, collection: get_vendors, as: :select, label: 'Vendor Name' , include_blank: "Select Vendor", 
        input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Please select Vendor Name"}
      = f.input :currency, collection: CURRENCY, include_blank: false
      = render '/shared/payments' , f: f
  .col-md-8
    %div#paid_details_table.scroll-table
    #payment_paid_details_result
      %h4
        Vendor Invoiced:
        %span.vendor_invoice 0
        USD
      %h4
        Paid:
        %span.paid 0
        USD
      %hr
      %h4
        Outstanding:
        %span.outstanding 0
        USD

:javascript
  window.validate_form = function(){
    $.validate({
      form: '#new_paid',
      scrollToTopOnError : false
    });
  }
  validate_form();
