%h3 Payments Made
.row
  = simple_form_for @paid , html: {class: 'form-horizontal'},url: url_for(action: 'create', :controller => 'paid'), method: 'post', defaults: {input_html: {class: 'form-control'}} do |f|
    .col-md-6
      = f.input :vendor_id, collection: @transporters, as: :select, label: 'Vendor Name' , include_blank: false
      = render '/shared/payments' , f: f
  .col-md-6
    %div#paid_details_table.scroll-table

:javascript
  window.validate_form = function(){
    $.validate({
      form: '#new_paid',
      scrollToTopOnError : false
    });
  }
  validate_form();
