%h1 Spare Part History
%br
.row
  .col-sm-3
  .col-sm-2.h4
    =label_tag :spare_part_ids, "Select Spare Part: "
  .col-sm-3
    %input{:type => "hidden", :id=> "spare_part_ids", :name => "spare_parts[]"}
%h3 Purchase Order
%table.table{id: 'po_history_table'}
  %thead
    %th.po-created-at Purchase Order Date
    %th.po-truck Truck
    %th.po-price Price
    %th.po-quantity Quantity
    %th.po-supplier Supplier

%br
%br
%h3 Requisition
%table.table{id: 'req_history_table'}
  %thead
    %th.req-created-at Requisition Date
    %th.req-truck Truck
    %th.req-price Price
    %th.req-quantity Quantity

:javascript
  $(document).ready(function() {
    $('#spare_part_ids').select2({
      width: "100%",
      multiple: true,
      ajax: {
        url: '/spare_parts',
        dataType: 'json',
        data: function (params) {
          var query = {
            searchTerm: params
          }
          return query;
        },
        results: function(data, page) {
          return { 
            results: $.map( data, function(part, i) { 
              return { id: part.id, text: part.product_name } 
            } )
          }
        }
      }
    });
    if($.fn.DataTable.isDataTable("#po_history_table") == false)  
      po_history_table = $('#po_history_table').DataTable( {
          "bJQueryUI": true,
          "processing": true,
          "serverSide": true,
          "paging": true,
          "ordering": false,
          "pageLength": 10,
          "searching": false,
          "ajax": {
            url: "history",
            type: "POST",
            "data": function( result ) {
                  var newresult = { start: result.start,
                                    length: result.length,
                                    history_type: "po",
                                    spare_part_id: $("#spare_part_ids").val().split(",") }
                  return newresult;
                },
            "dataSrc": function ( json ) {
                data = json.data
                data.forEach(function(data, index){
                  data.created_at = new Date(data.created_at).toLocaleDateString();
                })
                return data
            }
          },
          "columns": [
              { "data": "created_at", "bSortable": false},
              { "data": "truck_name", "bSortable": false},
              { "data": "price", "bSortable": false },
              { "data": "quantity", "bSortable": false },
              { "data": "supplier_name", "bSortable": false }
          ]
      });
    if($.fn.DataTable.isDataTable("#req_history_table") == false)
      req_history_table = $('#req_history_table').DataTable( {
          "bJQueryUI": true,
          "processing": true,
          "serverSide": true,
          "paging": true,
          "ordering": false,
          "pageLength": 10,
          "ajax": {
            url: "history",
            type: "POST",
            "data": function( result ) {
                  console.log(result)
                  var newresult = { start: result.start,
                                    length: result.length,
                                    history_type: "req",
                                    spare_part_id: $("#spare_part_ids").val().split(","),
                                    truck: result.search.value
                                  }
                  return newresult;
                },
            "dataSrc": function ( json ) {
                data = json.data
                data.forEach(function(data, index){
                  data.created_at = new Date(data.created_at).toLocaleDateString();
                })
                return data
            }
          },
          "columns": [
              { "data": "created_at", "bSortable": false},
              { "data": "truck_name", "bSortable": false},
              { "data": "price", "bSortable": false },
              { "data": "quantity", "bSortable": false }
          ]
      });
    $("#spare_part_ids  ").on("change", function () { 
      po_history_table.ajax.reload();
      req_history_table.ajax.reload();
    });
  });

