
.bill_vendor_name_id {
  width: 195px !important;
}
#bill_item tbody{
  .type {
    width: 215px !important;
  }
  .item_type {
    width: 95px;
  }
  .for {
    width: 155px !important;
  }
  .item_for {
    width: 190px !important;
  }
  .item_number {
    width: 190px !important;
  }
  .vendor_charges {
    width: 250px !important;
  }
  .line_amount {
    width: 115px !important;
  }
  .rate {
    width: 80px;
  }
  .price_unit {
    width: 165px !important;
  }
  .numeric {
    text-align: right !important;
  }
}
