#bill_item tbody{
  .type {
    width: 185px !important;
  }
  .for {
    width: 215px !important;
  }
  .item_number {
    width: 190px !important;
  }
  .vendor_charges {
    width: 250px !important;
  }
  //.number {
  //  width: 195px !important;
  //}
  .price_unit {
    width: 175px !important;
  }
  .numeric {
    text-align: right !important;
  }
}
