
.no-event {
  pointer-events: none;
}

.shrink-name-custom {
  width: 20% !important
}
.bl-width {
  width: 10%
}
.pad1 {
  padding-top: 1%
}
.mt-15 {
  position: none !important
}
.shipping-line-custom {
  width: 9% !important
}