// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#invoicetable{
	border: 1px solid black;
}
#invoicetable tr {
	border: 1px solid black;
}
#invoicetable td {
	border: 1px solid black;
}
#invoicetable th {
  border: 1px solid black;
}
.rectangle {
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-image: url("i.jpg");
}
.invoice {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#invoice_amount{
  .col-md-3{
    font-size: 25px
  }
  font-size: 40px;
  height:  60px;
  background-color:transparent;
  border:none;
}

#particulars .nested_row {
  padding: 5px;
}

#invoices_per_page{
  width: 50px;
  height: 34px !important;
}

#invoices_searchbox{
  max-width: 200px;
  height: 34px !important;
}

#all_invoices {
  .customer {
    width: 15%
  }
  .number {
    width: 20%
  }
  .date {
    width: 10%
  }
  .bl_num {
    width: 10%
  }
  .document_num {
    width: 5%
  }
  .amount {
    width: 5%
  }
  .status {
    width: 5%
  }
}

