// Place all the styles related to the petty_cashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red{
  color:red
}

.green{
  color: green
}
.date{
  width: 100px;
}
.expense{
  width: 20%;
}
.truck{
  width:15%;
}
.type{
  width: 100%;
}
.petty_cash_td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 10%;
  height: auto;
}
.petty_cash_table{
  table-layout:fixed; 
  max-width: 10%;
}
.daterangepicker td.in-range{
  background-color: #b6daf9 !important;
}
.daterangepicker td.active.end-date.in-range{
  background-color: #357EBD !important;
}

.date-filter{
  margin-left:200px;
}

.hidden{
  display: none;
}