// Place all the styles related to the Received controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.received_table_class{
  .date{
    width: 100%;
  }
  .amount{
    text-align: left;
  }
  .customers{
    width: 100%;
  }
  .date_of_payment{
    width:10%
  }
  .customers{
    width:100%
  }
  .customer_name{
    width:30%
  }
}
select.customers{
  width: 100%;
}
.mt-10{
  margin-top: 10px;
}
.download {
  font-family: sans-serif;
  margin-left: -10px;
}