// Place all the styles related to the Received controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.date_of_payment{
  width: 75px !important;
}
.customer_name{
  width:300px !important;
}
.amount{
  width: 75px;
}
.references{
  width: 75px;
}
