#spare_part_ledger_table tbody {
  text-align: center;
}

#spare_part_ledger_table thead tr th {
  text-align: center;
}

label[for="spare_part_ledger_inward_outward_inward"], label[for="spare_part_ledger_inward_outward_outward"] {
  margin-left: 7px;
}