// Place all the styles related to the transport_manager_cashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red{
  color:red;
}

.green{
  color: green;
}

.transport_manager_cash{
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button { 
     -webkit-appearance: none;
     margin: 0;
  }
}