- [:notice, :error, :alert].each do |name|
  %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}", :id => name, :style => "display: #{flash[name] ? 'block' : 'none'}", data: {dismiss: 'alert'}}
    - if flash[name]
      = flash[name]

