!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    Please find attached your updates for the shipments currently being handled by us.
    %br
    We would be sending you regular updates on all your pending Shipments being handled by us. Please don't hesitate to contact us in case you have any queries.
    %br
    %br
    %br
    Thanks for your support.
    %br
    Team Reliable 
    %br
    %br
    For Any Queries you may reach 
    %br
    1) Mr.David :‭ +254 722 946 001‬
    %br
    2) M.Amber : ‭+254 792 938 222‬
    %br
    3) Mr.Kaushik  : ‭+254 708 626 923‬
    %br
    %br
    %br
    **********************************************************************
    %br
    %br
    The information in this message is confidential and may be legally privileged. It is intended solely for the addressee.
    %br
    %br
    Access to this message by anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, or distribution of the message, or any action or omission taken by you in reliance on it, is prohibited and may be unlawful. Please immediately contact the sender if you have received this message in error.
    %br
    %br
    Thank You,
    %br
    Reliable Freight Services Ltd
    %br
    %br
    **********************************************************************
